.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 32px 0;
}
.brand{
    flex: 1 
}
.title {
    flex: 4;
}
.balance {
    flex: 1;
}
.title h1 {
    font-size: 48px;
    font-family: 'Lorano';
    text-align: center;
}
.brand img {
    width: 80px;
}