@font-face {
  font-family: 'Lorano';
  src: url('./assets/fonts/Lorano/Lorano-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  src: url('./assets/fonts/comic-sans-ms/ComicSansMS3.ttf') format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.small {
  font-size: 12px;
}
span.blue {
  color: #019DF5;
}
.App {
  padding: 32px 80px;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets//images/background.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
.App .body {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
}

.App .attributes {
  font-family: 'Lorano';
  font-size: 12px;
  position: absolute;
  bottom: 32px;
  color: #fff;
}

.App .attributes a {
  text-decoration: none;
  color: #462703;
}
.App .attributes a:hover {
  text-decoration: none;
  color: #a55800;
}
.App .attributes .rojo {
  color: #E70202;
}
.App .attributes .blanco {
  color: #fff;
}
.App .attributes .azul {
  color: #3600D0;
}
